{% extends 'org_view.html' %}

{% block page_content %}
    <div class="well">
        <h4><span class="glyphicon glyphicon-wrench"></span> Profile Update</h4>
        <hr>
        {% if error %}
            <div class="alert alert-danger">
                <h3><span class="glyphicon glyphicon-fire"></span> <b>Error Occoured</b></h3>
                {% for this in error %}
                    <h4 class="text-danger"><span class="glyphicon glyphicon-alert">{{ this }}</span><code></code></h4>
                    <br>
                {% endfor %}
            </div>
        {% endif %}
        {% if success %}
            <div class="alert alert-success">
                <h3><span class="glyphicon glyphicon-thumbs-up"></span> Success!</h3>
                <hr>
                Profile is Successfully Updated
            </div>
        {% endif %}
        <form class="form-horizontal" role="form" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
                <label class="control-label col-sm-3" for="id_email"><span class="glyphicon glyphicon-envelope"></span> Official Email-ID:</label>
                <div class="col-sm-8">
                    <input id="id_email" class="form-control" maxlength="30" type="email" name="email" value="{{ org.contact_mail }}"/>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-3" for="id_phone"><span class="glyphicon glyphicon-phone-alt"></span> Official Contact Number:</label>
                <div class="col-sm-8">
                    <input id="id_phone" class="form-control" type="tel" maxlength="10" name="phone" value="{{ org.phone }}"/>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-3" for="id_address"><span class="glyphicon glyphicon-map-marker"></span> Address:</label>
                <div class="col-sm-8">
                    <input id="id_address" class="form-control" type="text" name="address" value="{{ org.address }}"/>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-3" for="id_website"><span class="glyphicon glyphicon-link"></span> Official Website:</label>
                <div class="col-sm-8">
                    <input id="id_website" class="form-control" type="text" name="website" value="{{ org.website }}"/>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-3" for="id_password"><span class="glyphicon glyphicon-lock"></span> Password:</label>
                <div class="col-sm-8">
                    <input id="id_address" class="form-control" type="password" name="password"/>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-3 col-sm-10">
                    <button type="submit" class="btn btn-success"><span class="glyphicon glyphicon-open-file"></span> Update</button>
                </div>
            </div>
        </form>
        <hr>
            <div class="alert alert-info">
                <h5><span class="glyphicon glyphicon-bell"></span> <b>Please Note!</b></h5>
                <hr>
                <p>As an <b>Administrator</b> you have all rights to control the privacy of information about your organization's profile. In Public Signature Indexing</p>
                <p>Please go to <span class="glyphicon glyphicon-lock"></span> <b>Privacy</b> settings to control your Profile Information while viewing signatures in Public Database.</p>
            </div>
    </div>
{% endblock %}