{% extends 'profile.html' %}

{% block page_content %}
    <script>
        $(document).ready(function(){
            $("#password_update_submit").click(function(){
                $("#password_too_short").fadeOut();
                $("#password_donot_match_error").fadeOut();
                $("#empty_current_password").fadeOut();
                var a=$("#new_password").val();
                var b=$("#repeat_new_password").val();
                var c=$("#previous_password").val();
                if(a.length<5){
                    $("#password_donot_match_error").fadeOut();
                    $("#empty_current_password").fadeOut();
                    $("#password_too_short").fadeIn();
                }else if(a!=b){
                    $("#password_too_short").fadeOut();
                    $("#empty_current_password").fadeOut();
                    $("#password_donot_match_error").fadeIn();
                }else if(c.length==0){
                    $("#password_too_short").fadeOut();
                    $("#password_donot_match_error").fadeOut();
                    $("#empty_current_password").fadeIn();
                }else{
                    $.ajax({
                        type:'POST',
                        url:"{% url 'winker:user_settings' %}",
                        data:{
                            'action':"password_update",
                            'content1':b,
                            'content2':c,
                            'csrfmiddlewaretoken':"{{ csrf_token }}"
                        },
                        dataType:'json',
                        success:function(data){
                            if(data.response){
                                window.location="/logout";
                            }else{
                                $("#password_too_short").fadeOut();
                                $("#password_donot_match_error").fadeOut();
                                $("#empty_current_password").fadeOut();
                                $("#invalid_current_password").fadeIn();
                            }
                        }
                    });
                }
            });
            $('[data-toggle="tooltip"]').tooltip();
        });
        function update_keybank(keys){
           $(document).ready(function(){
                var total_key_purchase={{ total_signatures }}+keys;
                var last_key_purchase=keys;
                var sign_bank_status={{ user.signature_left_per }}+keys;
                $("#total_key_purchase").html(total_key_purchase);
                $("#last_key_purchase").html(last_key_purchase);
                $("#sign_bank_status").html(sign_bank_status);
           });
        }
    </script>
    <div class="well">
        <h4><span class="glyphicon glyphicon-cog"></span> Profile Settings</h4>
    </div>
    <div class="jumbotron">
        <h5><span class="glyphicon glyphicon-grain"></span> Personal Settings</h5>
        <div class="well">
            <div class="text-center">Personal Signature Bank</div>
            <hr>
            <strong>Your Total Purchase: </strong><span id="total_key_purchase">{{ total_sign }}</span>
            <br>
            <br>
            <strong>Your Last Purchase: </strong><span id="last_key_purchase">{{ last_purchase }}</span>
            <br>
            <br>
            <strong>Your Signature Bank Status: </strong><span class="sign_bank_status">{{ user.signature_left_per }}</span>
            <br>
            <br>
            <button class="btn btn-primary btn-sm" onclick="window.open('{% url "winker:sign_bank" operation="personal" %}')"><span class="glyphicon glyphicon-piggy-bank"></span> Refill Signatures</button>&nbsp; <button class="btn btn-warning btn-sm"><span class="glyphicon glyphicon-list-alt"></span> Get Transaction Statement</button>
        </div>
        <div class="well">
            <div class="text-center">Account Security</div>
            <hr>
            <div style="border:1px solid #999999; padding:10px; border-radius: 5px;">
                <strong>Request PAN Update</strong> <button class="btn btn-primary btn-sm" data-toggle="tooltip" title="Click Here To Request PAN Update" onclick="alert('Your Request has been accepted. We will get back to you soon.\nTill then enjoy Saving the Planet.');">Request PAN Update</button>
                <br>
                <hr>
                <br>
                <div class="alert alert-info">
                    You will see notification here when your request is accepted.
                    Once you request we will get back to you soon.
                </div>
            </div>
            <br>
            <br>
            <div style="border:1px solid #999999; padding:10px; border-radius: 9px;">
                <strong>Change Password</strong>
                <hr>
                <div class="alert alert-danger" id="password_donot_match_error" hidden>
                    Your <b>New Passwords</b> do not match with each other.
                </div>
                <div class="alert alert-danger" id="empty_current_password" hidden>
                    <b>Current Password</b> field cannot be blank.
                </div>
                <div class="alert alert-danger" id="invalid_current_password" hidden>
                    The <b>Current Password</b> you entered in Invalid.
                </div>
                <div class="alert alert-warning" id="password_too_short" hidden>
                    Password you entered is <b>Too Short</b>.
                </div>
                <form class="form-group">
                    <label class="label label-primary" for="#previous_password">Current Password</label>
                    <input class="form-control" type="password" id="previous_password" placeholder="Enter Your Current Password" autocomplete="off">
                    <br>
                    <label class="label label-primary" for="#new_password">New Password</label>
                    <input class="form-control" type="password" id="new_password" placeholder="Enter Your New Password" autocomplete="off">
                    <br>
                    <label class="label label-primary" for="#repeat_new_password">Reenter New Password</label>
                    <input class="form-control" type="password" id="repeat_new_password" placeholder="Reenter Your New Password" autocomplete="off">
                    <br>
                    <input type="submit" class="btn btn-primary btn-sm" id="password_update_submit" onclick="return false">
                </form>
            </div>
        </div>
    </div>
    {% if user.org %}
        <div class="jumbotron">
            <h5><span class="glyphicon glyphicon-tree-deciduous"></span> Professional Settings</h5>
            <div class="well">
                <div class="text-center">Professional Operation</div>
                <hr>
                <br>
                <strong>Operating Under:</strong>{{ user.org.name }}
                <br>
                <br>
                <strong>Designation:</strong>{{ user.designation }}
                <br>
                <br>
                <button class="btn btn-primary btn-sm" id="untag_org">Release Your Organizational Account</button>
            </div>
            <div class="well">
                <div class="text-center">Professional Signatures Index</div>
                <hr>
                <strong>Total Signatures Registered:</strong> {{ total_pro_sign }}
                <br>
                <br>
                <strong>Total Signatures Allotted Presently:</strong> {{ user.signature_provided_org }}
                <br><br>
                <strong>Total Signatures Left: </strong>{{ user.signature_left_org }}
                <br><br>
                <button class="btn btn-primary btn-sm">Request More Signatures</button>
            </div>
        </div>
    {% endif %}
{% endblock %}