{% extends 'profile.html' %}

{% block page_content %}
        <script>
            var csrfmiddlewaretoken="{{ csrf_token }}";
        </script>
        {% load staticfiles %}
        <script src="{% static 'profile_privacy.js' %}" type="text/javascript"></script>
        <div class="well">
            <h4><span class="glyphicon glyphicon-lock"></span> Profile Content Privacy</h4>
        </div>
        <div class="well" id="personal_data">
            <h5><span class="glyphicon glyphicon-grain"></span> Personal Data Privacy</h5>
            <hr>
            <blockquote>Privacy Maintained with your <b>Personal Signatures</b></blockquote>
            <div class="container-fluid">
                <div class="col-sm-6">
                   <div class="panel panel-primary">
                       <div class="panel-heading">
                           <h5><span class="glyphicon glyphicon-earphone"></span> Phone Number</h5>
                       </div>
                       <div class="panel-body">
                            <blockquote class="info blockquote-reverse"> {{ user.phone }}</blockquote>
                           <div class="alert alert-info">
                                <div class="container">
                                    <div class="row">
                                        <button prop="personal_phone" info="Phone Number" class="btn {% if personal_phone %}btn-danger{% else %}btn-success{% endif %}"><span class="glyphicon {% if personal_phone %}glyphicon-remove{% else %}glyphicon-ok{% endif %}"></span></button>
                                        <strong class="col-sm-offset-1" prop="personal_phone"> {% if personal_phone %}Hide My Phone Number{% else %}Show My Phone Number{% endif %}</strong>
                                    </div>
                                </div>
                           </div>
                       </div>
                       <div class="panel-footer">
                           <p class="text-center" prop="personal_phone"> <b>Now: </b><span class="glyphicon {% if personal_phone %}glyphicon-eye-open{% else %}glyphicon-eye-close{% endif %}"></span> {% if personal_phone %}Visible{% else %}Invisible{% endif %}</p>
                       </div>
                   </div>
                </div>
                <div class="col-sm-6">
                   <div class="panel panel-primary">
                       <div class="panel-heading">
                           <h5><span class="glyphicon glyphicon-envelope"></span> Email</h5>
                       </div>
                       <div class="panel-body">
                            <blockquote class="info blockquote-reverse"> {{ user.email }}</blockquote>
                           <div class="alert alert-info">
                                <div class="container">
                                    <div class="row">
                                        <button prop="personal_mail" info="Email ID" class="btn {% if personal_mail %}btn-danger{% else %}btn-success{% endif %}"><span class="glyphicon {% if personal_mail %}glyphicon-remove{% else %}glyphicon-ok{% endif %}"></span></button>
                                        <strong class="col-sm-offset-1" prop="personal_mail"> {% if personal_mail %}Hide My Email ID{% else %}Show My Email ID{% endif %}</strong>
                                    </div>
                                </div>
                           </div>
                       </div>
                       <div class="panel-footer">
                            <p class="text-center" prop="personal_mail"> <b>Now: </b><span class="glyphicon {% if personal_mail %}glyphicon-eye-open{% else %}glyphicon-eye-close{% endif %}"></span> {% if personal_mail %}Visible{% else %}Invisible{% endif %}</p>
                       </div>
                   </div>
                </div>
                <div class="col-sm-6">
                   <div class="panel panel-primary">
                       <div class="panel-heading">
                           <h5><span class="glyphicon glyphicon-map-marker"></span> Address</h5>
                       </div>
                       <div class="panel-body">
                            <blockquote class="info blockquote-reverse"> {{ user.address }}</blockquote>
                           <div class="alert alert-info">
                                <div class="container">
                                    <div class="row">
                                        <button prop="personal_address" info="Address" class="btn {% if personal_address %}btn-danger{% else %}btn-success{% endif %}"><span class="glyphicon {% if personal_address %}glyphicon-remove{% else %}glyphicon-ok{% endif %}"></span></button>
                                        <strong class="col-sm-offset-1" prop="personal_address"> {% if personal_address %}Hide My Address{% else %}Show My Address{% endif %}</strong>
                                    </div>
                                </div>
                           </div>
                       </div>
                       <div class="panel-footer">
                            <p class="text-center" prop="personal_address"> <b>Now: </b><span class="glyphicon {% if personal_address %}glyphicon-eye-open{% else %}glyphicon-eye-close{% endif %}"></span> {% if personal_address %}Visible{% else %}Invisible{% endif %}</p>
                       </div>
                   </div>
                </div>
                <div class="col-sm-6">
                   <div class="panel panel-primary">
                       <div class="panel-heading">
                           <h5><span class="glyphicon glyphicon-user"></span> Gender</h5>
                       </div>
                       <div class="panel-body">
                            <blockquote class="info blockquote-reverse"> {{ user.gender }}</blockquote>
                           <div class="alert alert-info">
                                <div class="container">
                                    <div class="row">
                                        <button prop="personal_gender" info="Gender" class="btn {% if personal_gender %}btn-danger{% else %}btn-success{% endif %}"><span class="glyphicon {% if personal_gender %}glyphicon-remove{% else %}glyphicon-ok{% endif %}"></span></button>
                                        <strong class="col-sm-offset-1" prop="personal_gender"> {% if personal_gender %}Hide My Gender{% else %}Show My Gender{% endif %}</strong>
                                    </div>
                                </div>
                           </div>
                       </div>
                       <div class="panel-footer">
                            <p class="text-center" prop="personal_gender"> <b>Now: </b><span class="glyphicon {% if personal_gender %}glyphicon-eye-open{% else %}glyphicon-eye-close{% endif %}"></span> {% if personal_gender %}Visible{% else %}Invisible{% endif %}</p>
                       </div>
                   </div>
                </div>
            </div>
        </div>
        {% if has_org %}
        <div class="well" id="professional_data">
            <h5><span class="glyphicon glyphicon-tree-deciduous"></span> Professional Data Privacy</h5>
            <hr>
            <blockquote>Privacy Maintained with your <b>Professional Signatures</b></blockquote>
            <div class="container-fluid">
                <div class="col-sm-6">
                   <div class="panel panel-primary">
                       <div class="panel-heading">
                           <h5><span class="glyphicon glyphicon-earphone"></span> Phone Number</h5>
                       </div>
                       <div class="panel-body">
                           <div class="alert alert-info">
                                <div class="container">
                                    <div class="row">
                                        <button prop="pro_phone" info="Phone Number" class="btn {% if professional_phone %}btn-danger{% else %}btn-success{% endif %}"><span class="glyphicon {% if professional_phone %}glyphicon-remove{% else %}glyphicon-ok{% endif %}"></span></button>
                                        <strong class="col-sm-offset-1" prop="pro_phone"> {% if professional_phone %}Hide My Phone Number{% else %}Show My Phone Number{% endif %}</strong>
                                    </div>
                                </div>
                           </div>
                       </div>
                       <div class="panel-footer">
                            <p class="text-center" prop="pro_phone"> <b>Now: </b><span class="glyphicon {% if professional_phone %}glyphicon-eye-open{% else %}glyphicon-eye-close{% endif %}"></span> {% if professional_phone %}Visible{% else %}Invisible{% endif %}</p>
                       </div>
                   </div>
                </div>
                <div class="col-sm-6">
                   <div class="panel panel-primary">
                       <div class="panel-heading">
                           <h5><span class="glyphicon glyphicon-envelope"></span> Email</h5>
                       </div>
                       <div class="panel-body">
                           <div class="alert alert-info">
                                <div class="container">
                                    <div class="row">
                                        <button prop="pro_mail" info="Email ID" class="btn {% if personal_mail %}btn-danger{% else %}btn-success{% endif %}"><span class="glyphicon {% if personal_mail %}glyphicon-remove{% else %}glyphicon-ok{% endif %}"></span></button>
                                        <strong class="col-sm-offset-1" prop="pro_mail"> {% if personal_mail %}Hide My Email-ID{% else %}Show My Email ID{% endif %}</strong>
                                    </div>
                                </div>
                           </div>
                       </div>
                       <div class="panel-footer">
                            <p class="text-center" prop="pro_mail"> <b>Now: </b><span class="glyphicon {% if professional_mail %}glyphicon-eye-open{% else %}glyphicon-eye-close{% endif %}"></span> {% if personal_mail %}Visible{% else %}Invisible{% endif %}</p>
                       </div>
                   </div>
                </div>
            </div>
        </div>
        {% endif %}
        <div class="well" id="profile_data">
            <h5><span class="glyphicon glyphicon-grain"></span> Personal Data Privacy</h5>
            <hr>
            <blockquote>Privacy Maintained with your <b>Public Profile</b></blockquote>
            <div class="container-fluid">
                <div class="col-sm-6">
                   <div class="panel panel-primary">
                       <div class="panel-heading">
                           <h5><span class="glyphicon glyphicon-earphone"></span> Phone Number</h5>
                       </div>
                       <div class="panel-body">
                           <div class="alert alert-info">
                                <div class="container">
                                    <div class="row">
                                        <button prop="profile_phone" info="Phone Number" class="btn {% if profile_phone %}btn-danger{% else %}btn-success{% endif %}"><span class="glyphicon {% if profile_phone %}glyphicon-remove{% else %}glyphicon-ok{% endif %}"></span></button>
                                        <strong class="col-sm-offset-1" prop="profile_mail"> {% if profile_phone %}Hide My Phone Number{% else %}Show My Phone Number{% endif %}</strong>
                                    </div>
                                </div>
                           </div>
                       </div>
                       <div class="panel-footer">
                            <p class="text-center" prop="personal_mail"> <b>Now: </b><span class="glyphicon {% if profile_phone %}glyphicon-eye-open{% else %}glyphicon-eye-close{% endif %}"></span> {% if profile_phone %}Visible{% else %}Invisible{% endif %}</p>
                       </div>
                   </div>
                </div>
                <div class="col-sm-6">
                   <div class="panel panel-primary">
                       <div class="panel-heading">
                           <h5><span class="glyphicon glyphicon-envelope"></span> Email</h5>
                       </div>
                       <div class="panel-body">
                           <div class="alert alert-info">
                                <div class="container">
                                    <div class="row">
                                        <button prop="pro_mail" info="Email ID" class="btn {% if profile_mail %}btn-danger{% else %}btn-success{% endif %}"><span class="glyphicon {% if profile_mail %}glyphicon-remove{% else %}glyphicon-ok{% endif %}"></span></button>
                                        <strong class="col-sm-offset-1" prop="pro_mail"> {% if profile_mail %}Hide My Email ID{% else %}Show My Email ID{% endif %}</strong>
                                    </div>
                                </div>
                           </div>
                       </div>
                       <div class="panel-footer">
                            <p class="text-center" prop="pro_mail"> <b>Now: </b><span class="glyphicon {% if profile_mail %}glyphicon-eye-open{% else %}glyphicon-eye-close{% endif %}"></span> {% if profile_mail %}Visible{% else %}Invisible{% endif %}</p>
                       </div>
                   </div>
                </div>
                <div class="col-sm-6">
                   <div class="panel panel-primary">
                       <div class="panel-heading">
                           <h5><span class="glyphicon glyphicon-map-marker"></span> Address</h5>
                       </div>
                       <div class="panel-body">
                           <div class="alert alert-info">
                                <div class="container">
                                    <div class="row">
                                        <button prop="profile_address" info="Address" class="btn {% if profile_address %}btn-danger{% else %}btn-success{% endif %}"><span class="glyphicon {% if profile_address %}glyphicon-remove{% else %}glyphicon-ok{% endif %}"></span></button>
                                        <strong class="col-sm-offset-1" prop="profile_address"> {% if profile_address %}Hide My Address{% else %}Show My Address{% endif %}</strong>
                                    </div>
                                </div>
                           </div>
                       </div>
                       <div class="panel-footer">
                            <p class="text-center" prop="profile_address"> <b>Now: </b><span class="glyphicon {% if profile_address %}glyphicon-eye-open{% else %}glyphicon-eye-close{% endif %}"></span> {% if profile_address %}Visible{% else %}Invisible{% endif %}</p>
                       </div>
                   </div>
                </div>
                <div class="col-sm-6">
                   <div class="panel panel-primary">
                       <div class="panel-heading">
                           <h5><span class="glyphicon glyphicon-user"></span> Gender</h5>
                       </div>
                       <div class="panel-body">
                           <div class="alert alert-info">
                                <div class="container">
                                    <div class="row">
                                        <button prop="profile_gender" info="Gender" class="btn {% if profile_gender %}btn-danger{% else %}btn-success{% endif %}"><span class="glyphicon {% if profile_gender %}glyphicon-remove{% else %}glyphicon-ok{% endif %}"></span></button>
                                        <strong class="col-sm-offset-1" prop="profile_gender"> {% if profile_gender %}Hide My Gender{% else %}Show My Gender{% endif %}</strong>
                                    </div>
                                </div>
                           </div>
                       </div>
                       <div class="panel-footer">
                            <p class="text-center" prop="profile_gender"> <b>Now: </b><span class="glyphicon {% if personal_mail %}glyphicon-eye-open{% else %}glyphicon-eye-close{% endif %}"></span> {% if profile_gender %}Visible{% else %}Invisible{% endif %}</p>
                       </div>
                   </div>
                </div>
                <div class="col-sm-6">
                   <div class="panel panel-primary">
                       <div class="panel-heading">
                           <h5><span class="glyphicon glyphicon-calendar"></span> Date of Birth</h5>
                       </div>
                       <div class="panel-body">
                           <div class="alert alert-info">
                                <div class="container">
                                    <div class="row">
                                        <button prop="profile_dob" info="Date of Birth" class="btn {% if profile_dob %}btn-danger{% else %}btn-success{% endif %}"><span class="glyphicon {% if profile_dob %}glyphicon-remove{% else %}glyphicon-ok{% endif %}"></span></button>
                                        <strong class="col-sm-offset-1" prop="profile_dob"> {% if profile_dob %}Hide My Date of Birth{% else %}Show My Date of Birth{% endif %}</strong>
                                    </div>
                                </div>
                           </div>
                       </div>
                       <div class="panel-footer">
                            <p class="text-center" prop="profile_dob"> <b>Now: </b><span class="glyphicon {% if profile_dob %}glyphicon-eye-open{% else %}glyphicon-eye-close{% endif %}"></span> {% if profile_dob %}Visible{% else %}Invisible{% endif %}</p>
                       </div>
                   </div>
                </div>
            </div>
        </div>

{% endblock %}